<div class="container">
  <% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end %>
  <h3 class="d-flex justify-content-center">Login</h3>

  <%= simple_form_for '/login' do %>
    Email:
    <%= text_field_tag :email, 'Email', class: 'form-control w-100' %>
    Password:
    <%= password_field_tag :password, 'Password', class: 'form-control w-100' %>
    <%= submit_tag "Submit", class:'btn btn-primary form-control mt-3' %>

  <% end %>
</div>

