<div class="container">
  <h3 class="d-flex justify-content-center">Sign up</h3>

  <%= simple_form_for :user, url: '/users' do |f| %>
    <%= f.error_notification %>

    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :email %>
    <%= f.input :password %>
    <%= f.input :password_confirmation %>
    <%= f.button :submit, class: 'form-control btn btn-success mt-3' %>
  <% end %>
</div>
